.promotion-item{
  position: relative;
  min-height: 80px;
  overflow: hidden;
  transition: .15s ease-in-out;
  cursor: pointer;
  &:hover,
  &:has(input:checked){
    border-color: var(--bs-btn-hover-color)!important;
  }
  &__link{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &__input{
    position: absolute;
    left: -555px;
    visibility: hidden;
  }
}