.content {
  min-height: calc(100vh - var(--header-height));
  &__header{
    min-height: var(--content-header-height);
  }
  &__row{
    min-height: calc(100% - var(--content-header-height));
  }
}

.nav-link{
  &:hover{
    color: var(--bs-link-hover-color);
  }
}

.navbar-brand{
  &:hover{
    color: var(--bs-link-hover-color);
  }
}